<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>151784824426-b7tosc8n6dvt6bn7a1o5fdiuv1m769d9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.151784824426-b7tosc8n6dvt6bn7a1o5fdiuv1m769d9</string>
	<key>API_KEY</key>
	<string>AIzaSyCR09HaVXPupr2FsYpK75BKWrvMaIk5UtE</string>
	<key>GCM_SENDER_ID</key>
	<string>151784824426</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.whatsappUi</string>
	<key>PROJECT_ID</key>
	<string>whatsapp--backend-b7b5c</string>
	<key>STORAGE_BUCKET</key>
	<string>whatsapp--backend-b7b5c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:151784824426:ios:0353e30b83a090013f3413</string>
</dict>
</plist>